// warms
$red : #e2231a;
$dark_red : #71120d;

// cools

// neutrals
$lightest_gray : #cccccc;
$light_gray : #b5b5b5;
$gray : #666;
$dark_gray : #333;


// sample page colorwheel
$colorwheel: (
  'red': #e2231a,
  'dark_red': #71120d,
  'lightest_gray' : #cccccc,
  'light_gray' : #b5b5b5,
  'gray' : #666,
  'dark_gray' : #333
);