// theme colors

// warms
$red : #e2231a;
$dark_red : #71120d;

// cools


// neutrals
$dark_gray : #333;
$gray : #666;

$colors: (
  'white': #fff,
  'black': #000
);

@function color($color) {
  @return map-get($colors, $color);
}

// Define global color classes here
@each $color_name, $color_value in $colors {
  .bg-#{$color_name} {
    background-color: color($color_name);
    border-color: color($color_name);
  }
}
