// warms
$red : #e2231a;
$dark_red : #71120d;

// cools

// neutrals
$lightest_gray : #cccccc;
$light_gray : #b5b5b5;
$dark_gray : #333;
$gray : #666;

// sample page colorwheel
$colors: (
  'white': #fff,
  'black': #000
);

@function color($color) {
  @return map-get($colors, $color);
}

// Define global color classes here
@each $color_name, $color_value in $colors {
  .bg-#{$color_name} {
    background-color: color($color_name);
    border-color: color($color_name);
  }
}
