// example font mixins specified
@mixin default_sans_serif {
  font-family: 'Quattrocento Sans', sans-serif;
}

@mixin default_sans_serif_secondary {
  font-family: 'Montserrat', sans-serif;
}

@mixin default_serif {
  font-family: serif;
}

// utility mixins
@mixin upper {
  text-transform: upper;
  letter-spacing: .05em;
}
@mixin un_upper {
  text-transform: none;
  letter-spacing: normal;
}
