/* custom refinements on page-to-page basis */
body.page {
  
}

body.page-template-tmpl-page-with-panels {
  
}

/* page-specific overrides */
body.page-template-tmpl-blog,
body.archive {
  .panel.post-list {
    .row {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}