// example font mixins specified
body {
  @include sans_serif;
  font-weight: 400;
  line-height: 1.4;
  color: $dark_gray;
}

h1, h2, h3, h4, h5, h6 {
  @include sans_serif_secondary;
  font-weight: 700;
}


/* special elements and typography */
header {
  @include sans_serif_secondary;
}

.panel-title {
  h1, h2, h3, h4, h5, h6 {
    @include upper;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  @media only screen and (max-width: $breakpoint_menu_only_mobile) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
      margin-bottom: 1.8rem;
    }
  }
}
p.date {
  @include date_font;
}

.post-terms {
  .label {
    @include cta_wrapper;
  }
  .post-term {
    font-size: .875rem;
  }
}

.list-as-dropdown {
  @include sans_serif_secondary;
  font-size: .875rem;
}

.post-pagination {
  @include sans_serif_secondary;
  font-size: .875rem;
}