#ignore wordpress
/html/wordpress/

# ignore db creds
/db.php

# ignore assets
/assets/

#ignore composer vendor
/vendor/

#ignore uploads
/html/wp-content/uploads/

#ignore cache
/html/wp-content/cache/

#do not ignore yoast seo vendor
!/html/wp-content/plugins/wordpress-seo/vendor/

#frontend ignores
/html/wp-content/themes/taco-theme/node_modules/
/html/wp-content/themes/taco-theme/_/.sass_cache
.codekit-cache
*.css.map
*.js.map

#general ignores
*.log
*.zip
*.tar
*.tar.gz
*.scssc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.com
*.class
*.dll
*.exe
*.o
*.so

/shortcut-to-taco-theme
/.vscode
/.idea
