// css3
@mixin border_radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin translate($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
}

@mixin delay($value) {
  -webkit-transition-delay: $value;
  -moz-transition-delay: $value;
  -o-transition-delay: $value;
  transition-delay: $value;
}

@mixin box_shadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

// utility
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
@mixin pseudo_element {
  position: absolute;
  content: "";
  display: block;
}
@mixin visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@mixin img_replace {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 1px;
  opacity: 0;
}
@mixin remove_list_styles {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin remove_margin_first_last_child {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

/* CUSTOM MIXINS BASED ON THIS THEME */
// disc full
@mixin content_li_first {
  @include pseudo_element;
  @include fontawesome;
  line-height: 1.7;
  font-size: .5rem;
  top: 5px;
  left: -22px;
  content: "\f111";
}
// disc open
@mixin content_li_second {
  @include pseudo_element;
  @include fontawesome;
  line-height: 1.7;
  font-size: .55rem;
  top: 8px;
  left: -22px;
  content: "\f10c";
}
// square
@mixin content_li_third {
  @include sans_serif;
  top: 12px;
  content: "\25aa";
  font-size: 1.3rem;
  line-height: .1rem;
}
// square
@mixin content_li_fourth {
  @include sans_serif;
  top: 12px;
  content: "\25aa";
  font-size: 1.3rem;
  line-height: .1rem;
}

// you need to make sure to include the counter-reset: li-counter; on the ol this li:before
@mixin content_li_numbers {
  @include pseudo_element;
  top: 0.17rem;
  left: -22px;
  @include sans_serif_secondary;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 1.7;
}
