.banner {
  
}

.banner.default {
  
}

.banner.with-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .table {
    height: 400px;
  }
  .cell {
    vertical-align: middle;
  }
  .details {
    * {
      color: white;
    }
  }
}