.banner {
  h1 {
    @include upper;
    font-size: 2.5rem;
    margin: 0;
  }
  .subtitle {
    @include sans_serif_secondary;
    font-size: 1.5rem;
    margin: .25rem 0 0;
  }
}

.banner.default {
  .table {
    height: 200px;
  }
  .cell {
    vertical-align: middle;
  }
}

.banner.with-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .table {
    height: 400px;
  }
  .cell {
    vertical-align: middle;
  }
  .details {
    * {
      color: white;
    }
  }
}