footer {
  background: $light_gray;
  .footer-menu-wrapper {
    ul {
      @include clearfix;
      display: inline-block;
    }
    li {
      display: inline-block;
      float: left;
      margin-right: 15px;
      a {
        display: inline-block;
        padding: 5px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

ul.social-menu {
  li {
    display: inline-block;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    padding: 5px;
  }
}