.module.post-terms {
  .label,
  ul {
    display: inline-block;
    @include remove_list_styles;
  }
  li {
    display: inline-block;
    &:only-child,
    &:last-child {
      .comma {
        display: none;
      }
    }
  }
}