/* generic styles */
ul.slides:after {
  display: table;
  content: "";
  clear: both;
}
ul.slides {
  margin: 0;
  padding: 0;
  li {
    position: relative;
  }
}

.flex-container {position: relative;}
.flexslider {margin: 0; padding: 0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.slider-container {
  position: relative;
}



/* generic / custom styles */
// pagination
.slider-pagination {
  text-align: center;
  .prev-next,
  .circle-pagination {
    display: inline-block;
  }
}
// circle-pagination
.circle-pagination {
  ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  li {
    display: inline-block;
    a {
      display: block;
      position: relative;
      width: 32px;
      height: 32px;
      color: transparent;
      &:before {
        @include fontawesome;
        @include pseudo_element;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $red;
        // fa-circle-o
        content: "\f10c";
      }
      &:hover,
      &.flex-active {
        // fa-circle
        &:before {
          content: "\f111";
        }
      }
    }
  }
}
// arrows
.slider-pagination {
  a.prev-next {
    @include fontawesome;
    position: relative;
    color: transparent;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    &:before {
      @include pseudo_element;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $red;
      padding-top: 11px;
    }
  }
  a.flex-prev {
    // fa-caret-left
    &:before {
      content: "\f0d9";
    }
  }
  a.flex-next {
    // fa-caret-right
    &:before {
      content: "\f0da";
    }
  }
}




/* === custom styles === */
.slider-container.default {
  ul.slides {
    background-color: $lightest_gray;
  }
  .table {
    width: 100%;
    table-layout: fixed;
    height: 400px;
  }
  .cell {
    width: 50%;
    vertical-align: middle;
  }
  .cell.image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// pagination and arrows
.flex-control-nav,
.flex-direction-nav {
  display: inline-block;
}